<% provide(:title, "Equipo") %>
<div class= "container">
  <h1>Equipo Lumapel</h1>

  <!-- Staff Info -->
  <div class="staff-wrap">
    <div class="row">
      <div class="staff-info">
        <div class ="col-md-4">
          <div class ="container">

            <!-- Foto perfil -->
            <div class ="row">
              <div class ="item"><%= image_tag 'Mario.jpg', size: "250", alt: "Mario Hernández" %></div>
            </div>

            <!-- Links de contacto -->
            <div class ="row">

                <!-- Glyphicon con link -->
                <!--
                <li>
                  <%= link_to "mailto:mariohernandezv@yahoo.com.ar" do %>
                  <span class="glyphicon glyphicon-envelope"></span> mariohernandezv@yahoo.com.ar
                  <% end %>
                </li>
                -->
                <li>
                  <span class="glyphicon glyphicon-envelope"></span><a href="mailto:mariohernandezv@yahoo.com.ar"> mariohernandezv@yahoo.com.ar</a>
                </li>
                <li>
                  <span class="glyphicon glyphicon-phone"></span><a href="tel:+593988137340"> 09 8813 73 40</a>
                </li>

            </div>

          </div>
        </div>
        <div class ="col-md-8">
          <h4>Mario Hernández <span></span></h4>
          <p>Ingeniero en Sistemas, fotógrafo, lector incansable, gusta de la música y del cine. El nacer en Quito-Ecuador siendo hijo de padres chilenos, le permitió aprender de ambas culturas.</p>

          <p>Ha trabajado en diseño gráfico, fotografía e imprenta desde 2001, aplicando sus conocimientos sobre sistemas informáticos en mantenimiento de servidores y creación de páginas web. </p>

          <p>El título de Ingeniero en Sistemas y Ciencias de la Computación lo obtuvo en la Universidad Tecnológica Equinoccial. Empezó su carrera en el mundo de la imprenta  como operador de pre-prensa para un periódico de la ciudad. Se fue capacitando en el diseño gráfico y fotografía, hasta ocupar el cargo de director de arte, para luego encargarse del manejo de las operaciones y la comercialización de la empresa en la que trabajaba antes de emprender Lumapel, idea que vio la luz en abril de 2015.
          </p> 
        </div>
      </div>
    </div>
  </div>

  <div class="staff-wrap">
    <div class="row">
      <div class="staff-info">
        <div class ="col-md-4">
          <div class ="container">
            <div class ="row">
              <div class="item"><%= image_tag 'Cecy.jpg', size: "250", alt: "Cecilia Benítez" %></div>
            </div>


              <div class ="row">
                  <li>
                    <span class="glyphicon glyphicon-envelope"></span><a href="mailto:cecybenitez@hotmail.com"> cecybenitez@hotmail.com</a>
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-phone"></span><a href="tel:+593997090665"> 09 9709 06 65</a>
                  </li>

              </div>
            </div>
        </div>


        <div class ="col-md-8">
          <h4>Cecilia Benítez <span></span></h4>
          <p>Master en Diseño Publicitario, fotógrafa, amante del baile flamenco y los boleros. Nace en la ciudad de Quito dentro de una familia dedicada a la aviación, lo que permitió el despegue de su creatividad e imaginación desde muy pequeña en las paredes de su casa. </p>

          <p>Sus estudios se inician en la Universidad San Francisco de Quito en la carrera de Diseño Multimedia, los que luego complementó con una Maestría en Diseño Publicitario en Savannah College of Art and Design, Estados Unidos. </p>

          <p>Ha trabajado como Directora de Arte en la ciudad de Fort Lauderdale, donde cumplió con el reto de integrar la cultura latina con el mercado americano.  Y a pesar de la distancia, el Ecuador la conquista de nuevo, donde inicia sus conocimientos de Community Manager, Redes Sociales y en calidad de directora creativa en Lumapel. </p>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="staff-wrap">
    <div class="row">
      <div class="staff-info">
        <div class ="col-md-4">
          <div class="item"><%= image_tag 'Perfil.jpg', size: "250", alt: "José Avilés" %></div>

        </div>
        <div class ="col-md-8">
          <h4>José Avilés <span></span></h4>
          <p>Graduado en la especialidad de Electrónica en el Instituto Suárez de Guayaquil, inquieto buscador de conocimiento, vinculado con el mundo gráfico desde su infancia. </p>

          <p>Nació en Guayaquil en 1995, el tercero de 4 hermanos, desde los 4 años se relacionó con mundo de la producción gráfica por sus padres. Aprendió en la imprenta familiar los trucos y secretos necesarios para optimizar la producción y realizar trabajos de calidad.</p>

          <p>Trabajó como prensista hasta que, en abril de 2015, llego a Quito para manejar la maquinaria productiva de Lumapel.
          </p> 
        </div>
      </div>
    </div>
  </div>
-->
</div>
<br><br><br>

