
<% provide(:title, "Contacto") %>


<div class="container">
  <div class="row">
      <div id="map-outer" class="col-md-12">
          <div id="address" class="col-md-4">
            <address>
              <strong>Lumapel</strong><br>
              Los Alelies OE4-48 y Gualaquiza.<br>
              Quito - Ecuador<br>
              <abbr title="Teléfono">Telf:</abbr> 02-229-3948<br>
              <abbr title="Celular">Cel:</abbr> 09-8813-7340
            </address>
            
            <address>
              <a href="mailto:lumapel@hotmail.com">lumapel@hotmail.com</a>
            </address>
          </div>
        <div id="map-container" class="col-md-8">
          <script type="text/javascript">
              handler = Gmaps.build('Google');
              handler.buildMap({ 
                provider: {
                }, 
                internal: {id: 'map-container'}}, function(){
                markers = handler.addMarkers([
                  {
                    "lat": -0.120948,
                    "lng": -78.491303,
                    "infowindow": "Lumapel"
                  }
                ]);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(17);
              });
          </script>
        </div>
      </div><!-- /map-outer -->
  </div> <!-- /row -->
</div>
<br><br><br>

