<% provide(:title, "Inicio") %>


    <%= render 'layouts/carousel' %>       

    <%= render 'layouts/jumbotron' %>  

  <div class="container">

    <!-- Columnas para contenidos -->
    <div class="row">
      <div class="col-md-4">
        <h2>Servicios</h2>
        <p>Infórmate sobre los servicios que ofrecemos. </p>
        <p><%= link_to "Conocer más »", servicios_path, class: "btn btn-default" %></p>
         <hr>
      </div>
     
      <div class="col-md-4">
        <h2>Equipo</h2>
        <p>Conócenos un poco más.</p>
        <p><%= link_to "Conocer más »", about_path, class: "btn btn-default" %></p>
        
        <hr>
     </div>
     
      <div class="col-md-4">
        <h2>Contáctanos</h2>
        <p>Ponte en contácto con nosotros.</p>
        <p><%= link_to "Conocer más »", contact_path, class: "btn btn-default" %></p>
        <hr>
      </div>
    </div>
  </div>
  <br><br><br>
  
 