<% provide(:title, "Servicios") %>

<div class="container">
	<h1>Servicios Lumapel<br>
		<!--
		<small>(Los precios incluyen el servicio puerta a puerta)</small>
-->
		</h1>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			<div class="panel-heading">
				<h4 class="panel-title">
					
					Diseño Gráfico
					<i class="indicator glyphicon glyphicon-minus pull-right" style="color:#BDBDBD"></i>
				</h4></a>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					Creamos y desarrollamos su producto, tomando en cuenta los aspectos funcionales, estéticos y simbólicos para transmitir sus ideas eficazmente.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			<div class="panel-heading">
				<h4 class="panel-title">
					Producción Gráfica
					<i class="indicator glyphicon glyphicon-plus pull-right" style="color:#BDBDBD"></i>
				</h4></a>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					Producimos sus requerimientos tomando en cuenta los siguientes aspectos:<br>
					<strong>Calidad</strong> Nuestros productos son elaborados con los más altos estandares de calidad.<br>
					<strong>Precio</strong> Buscamos la mejor opción de acuerdo a su presupuesto, para esto ofrecemos distintos tipos de formatos, materiales y terminados.<br>
					<strong>Tiempo</strong> Entregamos su trabajo en el tiempo justo. <br>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			<div class="panel-heading">
				<h4 class="panel-title">
					DIseño Web
					<i class="indicator glyphicon glyphicon-plus pull-right" style="color:#BDBDBD"></i>
				</h4></a>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					Tu página Web es la primera impresión que tus clientes se llevarán de tu empresa, es lo que muestras al mundo. <br>
					Diseñamos tu sitio Web de acuerdo a tus necesidades, para que sea visto desde cualquier dispositivo, sea un teléfono inteligente, tablet, o PC de escritorio, tu sitio siempre se verá bien. 
				</div>
			</div>
		</div>
<!--
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				<div class="panel-heading">
					<h4 class="panel-title">
						Plastificado (desde $ 0,000055 USD el centímetro)
						<i class="indicator glyphicon glyphicon-plus pull-right" style="color:#BDBDBD"></i>
					</h4>
				</a>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					El plastificado es un proceso en el que se añade una capa de plástico, puede ser mate o brillante, sobre el papel para protejerlo y resaltar la impresión. Se puede poner en superficies impresas en offset o en láser. 
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				<div class="panel-heading">
					<h4 class="panel-title">
						Filtro UV (desde $ 0,000011 USD el centímetro)
						<i class="indicator glyphicon glyphicon-plus pull-right" style="color:#BDBDBD"></i>
					</h4>
				</a>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					El filtro Ultra Violeta es un barniz que realza la impresión, es parecido al plastificado, con la diferencia que el plastificado es una capa adicional y el filtro UV es un barniz que se absorbe. 
				</div>
			</div>
		</div>
-->

	</div>
</div>
<br><br><br>

<script type="text/javascript">
	function toggleList(e) {
			$(e.target)
					.prev('.panel-heading')
					.find("i.indicator")
					.toggleClass('glyphicon-minus glyphicon-plus');
	}
	$('#accordion').on('hidden.bs.collapse', toggleList);
	$('#accordion').on('shown.bs.collapse', toggleList);
</script>