@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* color jumbotron */

/*
.other-color{
     background: SkyBlue 
    background: url('FondoNavBar.jpg') no-repeat center; 
  } 
  
  */




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em; 
  letter-spacing: -1px;
  /* margin-bottom: 30px; */

  /* text-align: center; */
  /* font-weight: normal; */
  /* color: #777; */
}

p {
  font-size: 1em;
  line-height: 1.1em;
  text-align: justify;
}

.col-md-8 {
  p {
    font-size: 1.3em;
  }
}

/* header */
/* Colores en los links de navegación del header */
.navbar-nav li a {
  &.header_menu_item {
  color: #fff;
  }
  &.header_menu_item:hover {
  color: #bbbbbb;
  }
}

/* Color de fondo de la barra de navegación */
.navbar {
  background-color: #083b4b;
  font-size: 1em;
  padding-left: 50px;
  padding-right: 50px;
}


#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
} 


/* Imagen de fondo */

/*

.navbar {
  background-color: #000;
  background: url('FondoNavBar.jpg') no-repeat center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}

*/

/*
.navbar .navbar-fixed-top .navbar-inverse { 
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
}

*/


/*
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
} 

#logo:hover {
  color: #fff;
  text-decoration: none;
}
*/


/* Tablas */
table {
  th, tr{
  text-align: center;
  }
  
}



/* footer */

footer {
  
  /* Borde superior */
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: white;

  /* codigo para un footer flotante */
  background-color: #169ea0;
  position: fixed;
  width: 100%;
  bottom: 0px;
  
}

footer a {
  color: #444;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  font-size: 0.9em;
}

footer ul li {
  float: left;

}


/* Carousel */

.carousel-fade {
  .carousel-inner {
    text-align: center; 
    .item {
      opacity: 0;
      transition-property: opacity;
      margin-left: auto;
      margin-right: auto;
      img { 
        display: inline-block; 
      }
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

/* Flechas del carrousel */
  .carousel-control {
    z-index: 2; 
    background: white;
    color: darkgray;
  }
  
  /* Area de indicadores del carousel */
  .carousel-indicators {
    
    position: absolute;
    /* Distancia desde la base */
    bottom: 0px;
    /* 
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    */
    color: red;
    /* background-color: red; */
    text-align: center;
  }
  
  .carousel-indicators li {
    /*
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    
    background-color: darkgray;
    */
    border-radius: 10px;
    cursor: pointer;
    border-color: gray;
    
  }
  
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  width: 100%;
}

.item:nth-child(1) {
 /* background: darkred; */
}

.item:nth-child(2) {
  /* background: red; */
}

.item:nth-child(3) {
  /* background: orange; */
}



/* Mapa */

#map-container { height: 30% }
  #map-outer {  height: 440px; 
	  				padding: 20px; 
					border: 2px solid #CCC; 
					margin-bottom: 20px; 
					background-color:#FFF;
					border-radius: 16px 16px;
					box-shadow: 2px 2px 10px #B1B1B1}
	#map-container { height: 400px }
	  @media all and (max-width: 991px) {
    	#map-outer  { height: 650px }
    		}

/*

#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
 */
 
 
 
 /* Acerca de */
 
 /*
 @import url(http://fonts.googleapis.com/css?family=Roboto:300|Oswald:400,700);
$background: hsl(225, 65, 65);


html, body {
  background: $background;
  font-family: 'Roboto', sans-serif;
  line-height: 1.55;
}

*/


/* Staff */ 

.staff-wrap {
  padding: 20px; 
  border: 2px solid #CCC; 
  margin-bottom: 20px; 
  background-color:#FFF;
  border-radius: 16px 16px;
  box-shadow: 2px 2px 10px #B1B1B1;

  li {
    font-size: .9em; 
  /* letter-spacing: -1px; */
  /* margin-bottom: 30px; */
  /* text-align: center; */
    font-weight: normal; 
    color: #777; 
    list-style: none;
  }
  .row {
    padding: 5px;
  }


  /* Agregando atributos a la imagen */
  /*
  .item {
    width: 250px;
    height: 250px;
    border: 2px solid #CCC; 
    border-radius: 16px 16px;
  } */
}
