<!-- Carousel -->
          <script type="text/javascript">
            $(document).ready(function() {
              $('.carousel').carousel({
                interval: 2000,
                pause: 'false'
              })
            });
          </script>
          
          <div class="container" id="carousel">

            <div id="myCarousel" class="carousel slide carousel-fade">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item"><%= image_tag 'DisGrafico.jpg' %> </div> 
                <div class="item"><%= image_tag 'ProdGraf.jpg' %></div>
                <div class="item"><%= image_tag 'DisWeb.jpg' %></div>
              </div>
              <!-- Carousel nav -->
              <!--
              <a class="carousel-control left" href="#myCarousel" data-slide="prev" >&lsaquo;Anterior</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;Siguiente</a>
              -->
            </div>
          </div> 