<footer class="footer">

<div class="container">
<div class="col-xs-12">
  <small>
    <address>
      <strong>Lumapel</strong><br>
       <%= link_to "Los Alelíes OE4-48 y Gualaquiza",    contact_path %><br>
       Quito - Ecuador<br>
    </address>
  </small>  

    <nav>
        <ul>
            <li>
              <span class="glyphicon glyphicon-phone-alt"></span><a href="tel:+59322293948"> 02 229 3984</a>
            </li><br>
            <li>
              <span class="glyphicon glyphicon-phone"></span><a href="tel:+593988137340"> 09 8813 7340</a>
            </li><br>
            <li>
            <span class="glyphicon glyphicon-envelope"><a href="mailto:lumapel@hotmail.com">lumapel@hotmail.com</a>
            </li><br>
        </ul>
      
    </nav>
    </div> 
  </div> 
</footer>