<!--
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logoblanco.png", width:'90', alt:'Lumapel'), root_path, id: "logo" %>
    <nav>

      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to "Inicio",   root_path, class: 'header_menu_item'  %></li>
        <li><%= link_to "Servicios",   servicios_path, class: 'header_menu_item'  %></li>
        <li><%= link_to "Equipo",    about_path, class: 'header_menu_item'  %></li>
        <li><%= link_to "Contáctanos",    contact_path, class: 'header_menu_item' %></li>
      </ul>
    </nav>
  </div>
</header>
-->

<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag("logoblanco.png", width:'90', alt:'Lumapel'), root_path, id: "logo" %>
        </div>
 
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Inicio",   root_path, class: 'header_menu_item'  %></li>
                <li><%= link_to "Servicios",   servicios_path, class: 'header_menu_item'  %></li>
                <li><%= link_to "Equipo",    about_path, class: 'header_menu_item'  %></li>
                <li><%= link_to "Contáctanos",    contact_path, class: 'header_menu_item' %></li>
            </ul>
        </div>
</nav>