<!-- Jumbotron Principal -->
    <div class="center jumbotron other-color">
    
      <div class="container">
            
        <!-- Columna de presentacion -->
          <div class="col-md-4">
            <h1><%= image_tag("logo.png", width:'155', alt:'Lumapel') %></h1>
          </div> 
          <div class="col-md-8">
            <p>Lumapel es una empresa ubicada en Quito - Ecuador, 
              dedicada a realizar diseño gráfico, diseño Web y producción gráfica. 
              Nuestra prioridad es la productividad de nuestros clientes, 
              por lo que hacemos un trabajo de calidad, rápido y a buen precio.
            </p>
  
            <!-- <%= link_to "Conocer más", about_path, class: "btn btn-lg btn-primary" %> -->
          </div>  
      </div>
    </div>